<div class="home" *ngIf="isvisible">
  <img
    class="logo"
    src="assets/create-a-friendly-and-approachable-logo-for-expens-UYoDtAWMQJ2rMftcljx0_w-qfP8ytF1QzCtGX7Q2fBRLg-removebg-preview-transformed.png"
    alt="home"
  />
  <div class="logo-content">
    <p class="logo-head">Expensii</p>
    <p class="logo-slogan">"Smart Expense manager"</p>
  </div>
  <img
    src="assets/a-visually-clean-and-modern-homepage-banner-for-a--XHfpSpTvRj6WsGliiCiQ8Q-Ye49cjXMRxKT3PiU9xy9MQ-transformed (1).jpeg"
    alt="home"
    class="img-home"
  />
  <nav class="navbar">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="app-expense-log">Expense Log</a></li>
      <li><a routerLink="">My Finances</a></li>
      <li><a routerLink="">Goal Builder</a></li>
      <li><a routerLink="">Financial Tips</a></li>
    </ul>
  </nav>
  <div class="Entry-point">
    <h1 class="Intro">
      Expensii:
      <span class="Intro-c">
        <br />The smart way to track expenses, visualize data,<br />
        and achieve your savings goals effortlessly.
      </span>
    </h1>
    <button class="start" (click)="journey()" routerLink="app-sign-in-up">
      {{ start_text }}
    </button>
  </div>
</div>
<div class="container"><router-outlet></router-outlet></div>
